<!-- <header class="header-main big">
  <div class="row top-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="#" class="logo"></a>
        </div>
        <div class="col justify-content-end">
          <ul class="nav nav-language justify-content-end align-items-end">
            <li class="nav-item">
              <a class="nav-link language-switch" href="#"
                ><span class="flag flag-de"></span
                ><span class="txt">deutsch</span
                ><span class="icon icon-arrow"></span
              ></a>
              
              <ul
                class="nav sub-nav flex-column justify-content-end align-items-start"
              >
                <li class="nav-item">
                  <a class="nav-link language-switch" href="#"
                    ><span class="flag flag-de"></span
                    ><span class="txt">deutsch</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link language-switch" href="#"
                    ><span class="flag flag-en"></span
                    ><span class="txt">deutsch</span></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header> -->
<header class="header-main">
  <div class="row top-content">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-auto">
          <a href="#" class="logo"></a>
        </div>
        <div class="col justify-content-end">
          <ul class="nav nav-language justify-content-end align-items-end">
            <li class="nav-item flex" *ngIf="authService.isUserLogedIn()">
              <a class="nav-link pointer" title="Logout" (click)="authService.logout()"
                ><span class="icon icon-logout"></span
              ></a>
            </li>
            <li class="nav-item">
              <a class="nav-link language-switch pointer" (click)="isLngMenuOpen = !isLngMenuOpen"
                ><span class="flag flag-{{currentLanguage}}"></span
                >
                ><span class="icon icon-arrow"></span
              ></a>
              <!-- Open Navi -->
              <ul
                class="nav sub-nav flex-column justify-content-end align-items-start" [ngClass]="{'open': isLngMenuOpen}"
              >
                <!-- <li class="nav-item">
                  <a class="nav-link language-switch pointer" href="#"
                    ><span class="flag pointer flag-de"></span
                    ><span class="txt">deutsch</span></a
                  >
                </li> -->
                <li class="nav-item">
                  <a class="nav-link language-switch pointer" (click)="setLanguage(currentLanguage === 'de' ? 'en' : 'de')"
                    ><span class="flag pointer flag-{{currentLanguage === 'de' ? 'en' : 'de'}}"></span
                    ></a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row navi-content" *ngIf="authService.getCompany()">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-xs-6">
          <ul class="nav align-items-center">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/time/auto']">{{'header.auto' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/time/manual']">{{'header.manual' | translate}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" [routerLink]="['/time/overview']">{{'header.overview' | translate}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
