
<section class="">
  <div class="container">
    <form>
      <div
        class="row justify-content-sm-center justify-content-md-left align-items-md-baseline"
      >
        <div class="col col-sm-8 col-md-4">
          <header>
            <h1 class="h3 headline color-grey text-center text-md-left">
              {{'time.edit.time_tracking_edit' | translate}}
            </h1>
            <div class="subine small text-center text-md-left">
              <span>{{'time.edit.today' | translate}}</span>, {{getTodayText()}}
            </div>
          </header>
        </div>

        <div class="col col-12 col-md-8">
          <div class="row justify-content-sm-center justify-content-md-start">
            <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left" for=""
                  >{{'time.auto.current_cost_centre' | translate}}:</label
                >
                <div class="input-group input-group-search" [ngClass]="{ 'active-select': isCostCenterModeSelect, 'active-search': !isCostCenterModeSelect }">
                  <div class="select-group" [ngClass]="{'pointer': !isCostCenterModeSelect}" (click)="isCostCenterModeSelect = true">
                    <select
                      class="chosen-select"
                    >
                      <option value="" disabled selected>{{'time.manual.please_choose' | translate}}</option>
                      <option value="Beispiel 1">Beispiel 1</option>
                      <option value="Beispiel 2">Beispiel 2</option>
                      <option value="Beispiel 3">Beispiel 3</option>
                      <option value="Beispiel 4">Beispiel 4</option>
                    </select>
                  </div>
                  <div class="search-group">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="{{'time.edit.search_cost_centre' | translate}}"
                    />
                    <a class="btn btn-outline-secondary" (click)="isCostCenterModeSelect = false"
                      ><span class="icon icon-search"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left" for=""
                  >Aktuelle Kostenstelle:</label
                >
                <div class="input-group input-group-search active-search">
                  <div class="select-group">
                    <select
                      data-placeholder="Bitte wählen"
                      class="chosen-select"
                    >
                      <option value>Bitte wählen</option>
                      <option value="Beispiel 1">Beispiel 1</option>
                      <option value="Beispiel 2">Beispiel 2</option>
                      <option value="Beispiel 3">Beispiel 3</option>
                      <option value="Beispiel 4">Beispiel 4</option>
                    </select>
                  </div>
                  <div class="search-group">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Kostenstelle suchen"
                    />
                    <a class="btn btn-outline-secondary"
                      ><span class="icon icon-search"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left" for=""
                  >Aktuelle Kostenstelle:</label
                >
                <div
                  disabled
                  class="input-group input-group-search active-select"
                >
                  <div class="select-group disabled">
                    <select
                      disabled
                      data-placeholder="Bitte wählen"
                      class="chosen-select"
                    >
                      <option value="Beispiel 1">Beispiel 1</option>
                      <option value="Beispiel 2">Beispiel 2</option>
                      <option value="Beispiel 3">Beispiel 3</option>
                      <option value="Beispiel 4">Beispiel 4</option>
                    </select>
                  </div>
                  <div class="search-group disabled">
                    <input
                      disabled
                      type="search"
                      class="form-control"
                      placeholder="Kostenstelle suchen"
                    />
                    <a class="disabled btn btn-outline-secondary"
                      ><span class="icon icon-search"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left">{{'time.manual.time_type' | translate}}:</label>
                <select class="chosen-select">
                  <option value disabled selected>{{'time.manual.please_choose' | translate}}</option>
                  <option value="Beispiel 1">Beispiel 1</option>
                  <option value="Beispiel 2">Beispiel 2</option>
                  <option value="Beispiel 3">Beispiel 3</option>
                  <option value="Beispiel 4">Beispiel 4</option>
                </select>
              </div>
            </div>
            <!-- <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left">Zeitart:</label>
                <select
                  data-placeholder="Bitte wählen"
                  class="chosen-select"
                  disabled
                >
                  <option value="Beispiel 1">Beispiel 1</option>
                  <option value="Beispiel 2">Beispiel 2</option>
                  <option value="Beispiel 3">Beispiel 3</option>
                  <option value="Beispiel 4">Beispiel 4</option>
                </select>
              </div>
            </div> -->

            <div class="col col-12 col-sm-8 col-md-12">
              <div class="row">
                <div class="col col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-center text-md-left"
                      >{{'time.edit.start_work' | translate}}:</label
                    >
                    <div class="input-group">
                      <div class="input-content disabled">
                        <input
                          
                          placeholder="zb 08:30"
                          type="time"
                          class="form-control"
                          aria-label="Amount (to the nearest dollar)"
                        />
                        <!-- <div class="input-group-append">
                          <span class="input-group-text">km</span>
                        </div>
                        <div class="input-group-append with-edit">
                          <a href="#" class="link"
                            ><span class="icon icon-edit"></span
                          ></a>
                        </div> -->
                      </div>
                      <!-- <div class="button-content">
                        <a href="#" class=""
                          ><span class="icon icon-delete"></span
                        ></a>
                      </div> -->
                    </div>
                  </div>
                </div>

                <div class="col col-12 col-md-6">
                  <div class="form-group">
                    <label class="text-center text-md-left">{{'time.edit.end_work' | translate}}:</label>
                    <div class="input-group">
                      <div class="input-content">
                        <input
                          type="time"
                          class="form-control"
                          aria-label="Amount (to the nearest dollar)"
                        />
                        <!-- <div class="input-group-append">
                          <span class="input-group-text">km</span>
                        </div>
                        <div class="input-group-append with-edit">
                          <a href="#" class="link"
                            ><span class="icon icon-edit"></span
                          ></a>
                        </div> -->
                      </div>
                      <!-- <div class="button-content">
                        <a href="#" class=""
                          ><span class="icon icon-delete"></span
                        ></a>
                      </div> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col col-12 col-sm-8 col-md-12 text-right">
              <div class="row">
                <div class="col col-12 text-right">
                  <hr />
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col col-12 col-md-6 text-right">
                  <a (click)="isKMStateOpen = !isKMStateOpen" [ngClass]="{'textlink-plus': !isKMStateOpen, 'textlink-minus': isKMStateOpen}" class="pointer">{{'time.edit.add_kilometers' | translate}}</a>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col col-12 col-md-6">
                  <div class="box-km" *ngIf="isKMStateOpen">
                    <h6 class="headline color-grey text-left">{{'time.edit.route' | translate}}</h6>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-content">
                          <input
                            type="text"
                            class="form-control"
                            aria-label="Amount (to the nearest dollar)"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">km</span>
                          </div>
                          <div class="input-group-append with-edit">
                            <a href="#" class="link"
                              ><span class="icon icon-edit"></span
                            ></a>
                          </div>
                        </div>
                        <div class="button-content">
                          <!--  <a href="#" class=""><span class="icon icon-edelite"></span></a> -->
                        </div>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <div class="input-group">
                        <div class="input-content disabled">
                          <input
                            disabled
                            value="XXXX km"
                            type="text"
                            class="form-control"
                            aria-label="Amount (to the nearest dollar)"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">km</span>
                          </div>
                          <div class="input-group-append with-edit">
                            <a href="#" class="link"
                              ><span class="icon icon-edit"></span
                            ></a>
                          </div>
                        </div>
                        <div class="button-content">
                          <a href="#" class=""
                            ><span class="icon icon-delete"></span
                          ></a>
                        </div>
                      </div>
                    </div> -->

                    <div class="form-group">
                      <div class="row save-row align-items-center">
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary onwhite">
                            {{'time.edit.btn_save_km' | translate}}
                          </button>
                        </div>
                        <div class="col-auto">
                          <a class="textlink-no-icon pointer"> {{'time.edit.btn_cancel_km' | translate}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col col-12 col-sm-8 col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col col-12 text-right">
                    <hr />
                  </div>
                </div>
                <div class="row save-row align-items-center">
                  <div class="col-auto">
                    <button
                      type="submit"
                      class="disabled btn btn-primary onwhite"
                    >
                      Speichern
                    </button>
                  </div>
                  <div class="col-auto">
                    <a href="#" class="textlink-no-icon disabled">Abbrechen</a>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="col col-12 col-sm-8 col-md-12">
              <div class="form-group">
                <div class="row">
                  <div class="col col-12 text-right">
                    <hr />
                  </div>
                </div>
                <div class="row save-row align-items-center">
                  <div class="col-auto">
                    <button type="submit" class="btn btn-primary onwhite">
                      {{'time.edit.btn_save' | translate}}
                    </button>
                  </div>
                  <div class="col-auto">
                    <a (click)="globalService.goTo('/time/overview')" class="textlink-no-icon pointer"> {{'time.edit.btn_cancel' | translate}}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<!-- <section class="teaser bg-grey-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-sm-8 col-md-6 text-center">
        <header>
          <h3 class="h6 headline color-grey text-center">Wechseln</h3>
        </header>
      </div>
    </div>
    <div class="row justify-content-center btn-row">
      <div class="col-auto text-center">
        <button type="submit" class="btn btn-plus btn-secondary ongrey-20" (click)="globalService.goTo('/time/auto')">
          Auto
        </button>
      </div>
    </div>
  </div>
</section> -->