.box-timer {
  width: 100%;
  margin-bottom: 20px;
  font-size: rem-calc(14);
  .top {
    display: flex;
    margin-bottom: 3px;
    .left,
    .right {
      flex: 1;
      padding: 0 10px;
    }
    .left {
      text-align: right;
    }
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 7px;
    color: $primary;
    border: 1px solid $primary;

    .flex {
      display: flex;
    }

    .icon {
      margin-right: 10px;
    }
  }
}

.content-time-area {
  padding-bottom: 5px;
  @include media-breakpoint-up(md) {
    .content-timer {
      order: 1;
    }
  }
}
