.box-km {
  .headline {
    margin-bottom: 15px;
  }
}

.input-group {
  .input-content {
    position: relative;
    flex: 1;

    .form-control {
      padding-right: 50px;
      margin: 0;
    }

    .input-group-append {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      margin: 0;

      .input-group-text {
        height: 100%;
        padding: rem-calc(10) rem-calc(10);
        line-height: 1;
        color: $grey-60;
        background: transparent;
        border: none;
      }

      &.with-edit {
        display: none;
        align-items: center;
        justify-content: center;

        .link {
          display: flex;
          padding: 10px;
        }
      }
    }

    &.disabled {
      .input-group-append {
        display: none;

        &.with-edit {
          display: flex;
        }
      }
    }
  }

  .button-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40px + 20;

    a {
      display: flex;
      padding: 5px 10px;
      margin-right: -10px;
    }
  }
}
