form {
  label {
    display: block;
    margin-bottom: rem-calc(3);
    font-size: $small-font-size;
    color: $grey-60;
  }

  select,
  .chosen-container {
    width: 100%;
  }

  select {
    appearance: none;
  }

  hr {
    margin-top: 25px;
  }
}

.form-control {
  display: block;
  width: 100%;
  height: rem-calc(40);
  padding: rem-calc(10);
  margin: 0 0 rem-calc(10) 0;
  overflow: hidden;
  color: $grey-60;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-color: $grey-60;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  &.error {
    border-color: $red;
  }
  &:focus {
    color: $grey-60;
    border-color: $grey-80;
    box-shadow: none;
  }
  &:disabled,
  &[readonly] {
    color: $grey-80;
    background-color: $grey-20;
    border-color: $grey-20;
  }
  + .form-text {
    margin-top: -5px;
  }
}

.form-group {
  + .btn-row {
    margin-top: 20px;
  }
}

.input-group {
  flex-wrap: nowrap;
}

.input-group-search {
  .select-group {
    margin-right: 20px;

    &.disabled {
      margin-right: 0;
    }
  }

  &.active-select {
    .search-group {
      input {
        max-width: 40px;
        padding-right: 10px;
      }
    }
    .select-group {
      flex: 1;
    }
  }

  &.active-search {
    select,
    .chosen-container {
      width: 40px;
      max-width: 40px;
      font-size: 0;
      pointer-events: none;
    }
    .chosen-single {
      div {
        width: 24px;
      }
    }
    select {
      background-position: right 14px center;
    }

    .search-group {
      position: relative;
      flex: 1;

      input {
        padding-right: 35px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .search-group {
      input,
      .btn {
        border-left: 0;
      }
    }
    .select-group {
      margin-right: 0;
    }
    &.active-search {
      .select-group {
        select {
          background-position: right 14px center;
        }

        .chosen-single {
          div {
            width: 24px;
          }
        }
      }
    }
    &.active-select {
      .select-group {
        select {
          background-position: right 20px center;
        }

        .chosen-single {
          div {
            width: 30px;
          }
        }
      }
    }
  }
}

.search-group {
  position: relative;

  input {
    padding-right: 50px;

    &:disabled {
      display: none;
    }
  }

  .form-control {
    margin-bottom: 0;
  }

  .btn {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    &.disabled {
      display: none;
    }
  }

  .btn,
  .btn-outline-secondary {
    min-width: 40px;
    padding-right: 10px;
    padding-left: 10px;
    color: $grey-60;
    background-color: $white;
    border-color: $grey-60;
  }
  .btn-outline-secondary:not(:disabled):not(.disabled):active {
    color: $grey-60;
    background-color: $white;
    border-color: $grey-60;
  }
}

// 2. Select/Chosen
// ---------

select {
  @include image-svg("icons/icon-arrow-dropdown", 10px, 10px);
  width: 100%;
  height: rem-calc(40);
  padding: rem-calc(10) rem-calc(20) rem-calc(8) rem-calc(10);
  margin-bottom: 0;
  font-size: rem-calc(14);
  line-height: 1.4;
  color: $grey-60;
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 10px;
  border-color: $grey-60;

  &:focus {
    border-color: $grey-80;
    outline: none;
    box-shadow: none;
  }

  &.error {
    border-color: $red;
  }

  &::-ms-clear {
    display: none;
  }

  &:disabled {
    color: $grey-60;
    background-color: $grey-20;
    background-image: none;
    border-color: $grey-20;
    opacity: 1;
  }
}

//
//Chosen
.chosen-container {
  width: 100% !important;
  text-align: left;

  &:not(.chosen-container-active) {
    .chosen-search {
      display: none;
    }
  }

  &.chosen-container-single-nosearch {
    .chosen-search {
      display: none;
    }
  }

  .chosen-single {
    padding: rem-calc(10) rem-calc(10) rem-calc(8) rem-calc(10);
    font-size: rem-calc(14);
    color: $grey-60;
    text-decoration: none;
    border-color: $grey-60;
    box-shadow: none;

    &:hover {
      color: $grey-60;
      text-decoration: none;
    }

    div {
      width: 20px;
      b {
        @include image-svg("icons/icon-arrow-dropdown", 10px, 10px);
        margin-top: 14px;
        margin-right: 10px;
        transition: all 0.4s ease-in-out;
      }
    }
  }

  .chosen-results {
    max-width: none;
    max-height: 230px;

    li {
      padding-left: 0;
      &::before {
        display: none;
      }

      em {
        font-style: normal;
      }
    }
  }

  .chosen-drop {
    background-color: $white;
    border-top: none;
    border-bottom: 1px solid $grey-60;

    .chosen-results {
      padding: 0;
      margin: 0;
      color: $grey-60;
      background-color: transparent;
      border-bottom: none;

      li {
        padding: 5px 10px;
        font-size: rem-calc(14);
        line-height: 30px;
        color: $grey-60;

        &:focus {
          outline: none;
        }

        &:hover {
          color: $grey-60;
          background-color: $white;
        }

        &.result-selected {
          color: $white;
          background-color: darken($primary, 5%);

          &:hover {
            color: $white;
            background-color: $primary;
          }
        }
        &.highlighted {
          color: $white;
          background-color: $primary;
          background-image: none;
        }
      }
    }
  }

  &.chosen-with-drop {
    .chosen-single {
      div b {
        transform: rotate(-180deg);
      }
    }
    .chosen-drop {
      border-top: 1px solid $grey-60;
      border-radius: 0;
    }
  }

  &.error {
    .chosen-single {
      color: $secondary;
      border-color: $secondary;
    }
  }
}

.chosen-container-single {
  .chosen-search {
    background-color: $primary;

    input[type="text"] {
      padding: 15px 20px;
      margin-bottom: 0;
      color: $white;
      letter-spacing: normal;
      background: $primary;
    }
  }

  .chosen-single {
    height: rem-calc(40);
    line-height: rem-calc(21);
    background: $white;
    border-radius: 0;
  }
}

.chosen-container-active {
  &.chosen-with-drop {
    .chosen-single {
      background-image: none;
      div {
        b {
          background-position: 0;
        }
      }
    }
  }
  .chosen-single {
    border: 1px solid $grey-80;
    box-shadow: none;
  }
}

.chosen-disabled {
  background-color: $grey-20;
  opacity: 1;
  .chosen-single {
    color: $grey-60;
    background-color: $grey-20;
    border-color: $grey-20;

    div {
      opacity: 0;
    }
  }
}

//iPad-Fix (Hide Cursor after closing Dropdown)
// .chosen-container {
//   .chosen-search-input {
//     user-select: none !important;
//   }
//   &.chosen-container-single-nosearch {
//     .chosen-search-input {
//       user-select: none !important;
//     }
//     &.chosen-with-drop .chosen-search-input {
//       user-select: none !important;
//     }
//   }

//   &.chosen-with-drop {
//     .chosen-search-input {
//       user-select: all !important;
//     }
//   }
// }

// 3. Checkbox + Radio: Gemeinsamkeiten
// ---------

.container-radio,
.container-checkbox {
  position: relative;
  display: block;
  //add transition and styles
  padding-left: 20px + 10; //Width of clickarea + margin
  margin-bottom: 0;
  font-size: rem-calc(12);
  color: $grey-80;

  cursor: pointer;
  user-select: none;

  /* Hide the browser's default checkbox */
  input {
    position: absolute;
    margin: 0;
    cursor: pointer;
    opacity: 0;
    &:checked {
      /* When the checkbox is checked */
      ~ .checkmark {
        color: $secondary;
        background-color: $primary;
        border-color: $primary;

        /* Show the checkmark when checked */
        &::after {
          display: block;
          background-color: $white;
        }
      }
    }
    &.error {
      /* Error */
      ~ .checkmark {
        color: $warning;
        border-color: $warning;

        /* Show the checkmark when checked */
        &::after {
          display: none;
          background-color: $warning;
        }
      }
    }
  }
  &:hover {
    /* On mouse-over */
    input {
      ~ .checkmark {
        color: $secondary;
        background-color: $white;
        border-color: $secondary;

        &::after {
          background-color: $white;
        }
      }

      &:checked {
        ~ .checkmark {
          color: $secondary;
          background-color: $secondary;
          border-color: $secondary;

          &::after {
            background-color: $white;
          }
        }
      }
    }
  }
  .checkmark {
    /* Style the checkmark/indicator */
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: 0;
    transform: translate(0%, -50%);

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: none;
      width: 10px;
      height: 10px;
      content: "";
      background-color: $white;
      transform: translate(-50%, -50%);
    }
  }
}

// 4. Checkbox
// ---------

.container-checkbox {
  /* Style the checkmark/indicator */
  .checkmark {
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid $primary;
    border-radius: 0;
    &::after {
      //Style inner circle
      top: 10px;
      left: 9px;
      width: 15px;
      height: 10px;
      content: "";
      background-color: $white;
      background-repeat: no-repeat;
      border-radius: 0;
      transform: translate(-50%, -50%);
      mask-image: url("#{$image-path}/icons/icon-check.svg");
    }
  }
}

// 5. Radio
// ---------

.container-radio {
  /* Style the checkmark/indicator */
  .checkmark {
    //Style outer circle
    width: 20px;
    height: 20px;
    background-color: $white;
    border: 1px solid $primary;
    border-radius: 100%;
    &::after {
      //Style inner circle
      width: 10px;
      height: 10px;
      background-color: $primary;
      border-radius: 100%;
    }
  }
}
