.icon {
  &.icon-logout {
    @include color-svg("icons/icon-logout", $grey-80, 15px, 15px);
  }
  &.icon-arrow {
    @include color-svg("icons/icon-wisag-arrow", $grey-80, 10px, 10px);
  }
  &.icon-plus {
    @include color-svg("icons/icon-plus", $grey-80, 12px, 12px);
  }
  &.icon-play {
    @include color-svg("icons/icon-play", $grey-80, 17px, 20px);
  }
  &.icon-stop {
    @include color-svg("icons/icon-stop", $grey-80, 20px, 20px);
  }
  &.icon-pause {
    @include color-svg("icons/icon-pause", $grey-80, 20px, 20px);
  }
  &.icon-search {
    @include color-svg("icons/icon-search", $grey-80, 15px, 15px);
  }
  &.icon-clock {
    @include color-svg("icons/icon-clock", $grey-80, 20px, 20px);

    &.green {
      background-color: $primary;
    }
  }
  &.icon-delete {
    @include color-svg("icons/icon-delete", $grey-80, 14px, 15px);

    &.green {
      background-color: $primary;
    }
  }
  &.icon-edit {
    @include color-svg("icons/icon-edit", $grey-80, 15px, 15px);

    &.green {
      background-color: $primary;
    }
  }
}
