.list-flex {
  font-size: rem-calc(14);

  &:nth-child(odd) {
    background-color: $grey-20;
  }

  .content {
    padding: rem-calc(9) rem-calc(10);

    &:first-child {
      flex-basis: 140px !important;
      flex-shrink: 0 !important;
      flex-grow: 0 !important;
      @include media-breakpoint-up(md) {
        flex-basis: 160px !important;
      }
    }
  }
}

.wrapper-list {
  margin-top: rem-calc(0);
  margin-bottom: rem-calc(0);

  + .wrapper-list {
    margin-top: rem-calc(40);
  }

  .bottom-row {
    padding-top: rem-calc(16);

    .link {
      .icon-edit {
        margin-right: 10px;
      }

      &:hover {
        .icon {
          background-color: $grey-80;
        }
      }
    }
  }

  hr {
    margin-top: 15px;
    margin-bottom: 0;
  }
}
