.box-login {
  margin: rem-calc(60) 0;

  > .container {
    padding-top: rem-calc(35);
    padding-bottom: rem-calc(35);
  }

  header {
    margin-bottom: rem-calc(30);
  }

  a,
  .pw {
    font-size: rem-calc(12);
    color: $grey-80;
    text-decoration: underline;
  }

  p {
    font-size: rem-calc(12);
    color: $grey-80;
  }
}
