// Site Header
.header-main {
  position: sticky;
  top: 0;
  z-index: 2;
  background: $white;

  .logo {
    @include image-svg("logo-wisag-time", 83px, 35px);
    display: block;
    @include media-breakpoint-up(md) {
      width: 130px;
      height: 55px;
    }
  }

  .icon {
    background-color: $grey-60;

    &:hover {
      background-color: $grey-80;
    }
  }

  .nav {
    .flex {
      .icon-logout {
        display: block;
      }
    }
    .nav-link {
      font-size: rem-calc(14);
      font-weight: 700;
      color: $grey-80;

      &.language-switch {
        font-size: 0;
      }

      &.active {
        color: $primary;
      }

      &:hover {
        color: $primary;
      }
    }
  }

  .top-content,
  .navi-content {
    margin: 0;
    border-bottom: 1px solid $grey-20;
  }
  .top-content {
    .container {
      > .row {
        padding-top: 10px;
        padding-bottom: 10px;

        @include media-breakpoint-up(md) {
          padding-top: 15px;
          padding-bottom: 15px;
        }
      }
    }
    .nav {
      margin-right: -15px;
      transform: translateY(0);

      @include media-breakpoint-up(md) {
        transform: translateY(5px);
      }
    }
  }

  .navi-content {
    .nav {
      margin-right: -15px;
      margin-left: -15px;
    }
  }

  &.big {
    .logo {
      width: 130px;
      height: 55px;
    }

    .top-content {
      .nav {
        transform: translateY(5px);
        @include media-breakpoint-up(md) {
          transform: translateY(5px);
        }
      }
    }
  }
}

.language-switch {
  position: relative;
  padding-left: 44px;
  font-size: 0;
  .txt {
    display: none;
  }
  &:hover {
    .icon {
      background: $grey-80;
    }
  }
  .flag {
    position: absolute;
    top: -11px;
    left: 0;
    display: inline-block;
    width: 46px;
    height: 40px;
    background: url("#{$image-path}/flags.png") no-repeat;
    transform: scale(0.5);

    &.flag-de {
      background-position: -192px -144px;
    }
    &.flag-en {
      background-position: -432px -192px;
    }
  }
}
.nav-language {
  .sub-nav {
    position: absolute;
    top: inherit;
    left: inherit;
    z-index: 300;
    display: none;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid $grey-20;
    transform: none;

    &.open {
      display: block;
    }

    .language-switch {
      width: 48px;
      height: 30px;
      padding: 0;
      background-color: $white;

      .flag {
        position: relative;
        top: inherit;
        left: inherit;
        display: block;
        pointer-events: none;
        transform: translate(0, -7px) scale(0.5);
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}
