// Site Footer
.site-footer {
  border-top: 1px solid $grey-20;
  > .row {
    margin: 0;
  }

  .nav .nav-link,
  .copyright {
    font-size: rem-calc(14);
    color: $grey-60;

    &.active {
      color: $primary;
    }

    &:hover {
      color: $primary;
    }
  }

  .meta {
    padding-top: 9px;
    padding-bottom: 9px;
    @include media-breakpoint-up(md) {
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .col-md-auto {
      text-align: center;
      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }
    .nav {
      margin-right: -15px;
      margin-left: -15px;
    }
  }
}
