html,
body {
  height: 100%;

  .page-wrap {
    min-height: 100%;
    overflow: hidden;
  }
}

//
//Grid/Gutter
@each $grid-breakpoint, $grid-gutter-width in $grid-gutter-widths {
  @include media-breakpoint-up($grid-breakpoint) {
    $grid-gutter-half-width: $grid-gutter-width / 2;
    .row:not(.no-gutters) {
      margin-right: -$grid-gutter-half-width;
      margin-left: -$grid-gutter-half-width;
    }
    .row:not(.no-gutters) > .col,
    .row:not(.no-gutters) > [class*="col-"] {
      padding-right: $grid-gutter-half-width;
      padding-left: $grid-gutter-half-width;
    }
    .container {
      padding-right: $grid-gutter-half-width;
      padding-left: $grid-gutter-half-width;
    }
  }
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: calc(100vh - 50px - 80px - 50px); // -Header, -Footer, -Push
}

.h1 {
  @extend h1;
}
.h2 {
  @extend h2;
}
.h3 {
  @extend h3;
}
.h4 {
  @extend h4;
}
.h5 {
  @extend h5;
}
.h6 {
  @extend h6;
}

.copy {
  font-size: rem-calc(16);
  font-weight: 400; //normal
  color: $grey-80;
}

.copy-small {
  font-size: rem-calc(14);
  font-weight: 400; //normal
  color: $grey-80;
}

.color-grey {
  color: $grey-80;
}

.color-green {
  color: $primary;
}

.pointer {
  cursor: pointer;
  user-select: none;
  &:hover {
    text-decoration: none;
  }
}

//
//Button / Links
//
button,
.btn {
  display: inline-block;
  padding: rem-calc(7) rem-calc(28) rem-calc(7) rem-calc(18);
  font-size: rem-calc(16);
  font-weight: 700;
  border-radius: 0;
  &:focus {
    box-shadow: none !important;
  }
  &.onwhite {
    @include cut-corner($white, 20px);
  }
  &.ongrey-20 {
    @include cut-corner($grey-20, 20px);
  }
  &.btn-primary,
  &.btn-secondary {
    &:hover {
      background-color: $grey-80;
      border-color: $grey-80;
    }
  }
  &.btn-secondary {
    &:hover {
      background-color: darken($grey-80, 10%);
    }
  }
  &.btn-sm {
    padding: rem-calc(5) rem-calc(15) rem-calc(5) rem-calc(10);
    font-size: rem-calc(16);
    & .onwhite {
      @include cut-corner($white, 12px);
    }
  }
  &.btn-lg {
    padding: rem-calc(5) rem-calc(30) rem-calc(5) rem-calc(20);
    font-size: rem-calc(22);
    & .onwhite {
      @include cut-corner($white, 20px);
    }
  }
  &.btn-plus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    padding-right: 18px;
    padding-bottom: 7px + 5;
    font-size: rem-calc(14);

    &::before {
      display: block;
      order: 1;
      content: "";
      @include color-svg("icons/icon-plus", $white, 12px, 12px);
    }
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
  &.btn-quad {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 100px;
    padding-right: 18px;
    padding-bottom: 7px + 5;
    font-size: rem-calc(14);
    color: $white;

    &::before {
      margin-top: 3px;
    }

    &.btn-start {
      background-color: $primary;
      &::before {
        display: block;
        order: 1;
        content: "";
        @include color-svg("icons/icon-play", $white, 17px, 20px);
      }
      &:hover {
        background-color: darken($primary, 5%);
      }
    }
    &.btn-stop {
      background-color: $red;
      &::before {
        display: block;
        order: 1;
        content: "";
        @include color-svg("icons/icon-stop", $white, 20px, 20px);
      }
      &:hover {
        background-color: darken($red, 5%);
      }
    }
    &.btn-pause {
      background-color: $orange;
      &::before {
        display: block;
        order: 1;
        content: "";
        @include color-svg("icons/icon-pause", $white, 20px, 20px);
      }
      &:hover {
        background-color: darken($orange, 5%);
      }
    }
  }
}

.btn-row {
  margin-right: -10px;
  margin-left: -10px;
  > .col-auto {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.textlink {
  font-weight: 700;
  color: $grey-80;
  &::before {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    content: "";
    background-color: $pink;
  }
  &:hover {
    color: darken($grey-80, 10%);
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}

.textlink-plus {
  @extend .textlink;
  &::before {
    @include color-svg("icons/icon-plus", $grey-80, 12px, 12px);
  }
}

.textlink-minus {
  @extend .textlink;
  &::before {
    @include color-svg("icons/icon-minus", $grey-80, 12px, 12px);
  }
}

.textlink-no-icon {
  font-weight: 700;
  color: $grey-80;
  text-decoration: unterline;
  &:hover {
    color: darken($grey-80, 10%);
  }
  &.disabled {
    pointer-events: none;
    opacity: 0.65;
  }
}

.container {
  max-width: 970px;
}

.bg-grey-20 {
  background-color: $grey-20;
}
.bg-red {
  background-color: $red;
}
.bg-orange {
  background-color: $orange;
}

header {
  margin-bottom: rem-calc(10);
  .headline {
    margin-bottom: 0;
    + .subline {
      margin-top: 5px;
    }
  }
  .subline {
    font-size: rem-calc(12);
  }
}

section {
  margin-top: rem-calc(40);
  margin-bottom: rem-calc(40);
}
