// Inline block with svg background including retina display support
//
// @param $image - Image path
// @param $with - Width
// @param $height - Height
@mixin image-svg($image, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  background-image: url("#{$image-path}/#{$image}.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

// Mixin für verfärbare SVGs
// Parameter Bildpfad, Farbe, Breite, Höhe
// Beispiel: @include color-svg('logo', red, 140px, 40px);
@mixin color-svg($image, $color, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  //-webkit-mask-image: url("#{$image-path}/#{$image}.svg");
  mask-image: url("#{$image-path}/#{$image}.svg");
  background-color: $color;
  background-repeat: no-repeat;
}

// Inline block with png background including retina display support
//
// @param $image - Image path
// @param $with - Width
// @param $height - Height
// @param $retinaWidth - Total width for retina display (optional, default: 100%)
// @param $retinaHeight - Total width for retina display (optional, default: auto)
@mixin image-png(
  $image,
  $width,
  $height,
  $retinaWidth: 100%,
  $retinaHeight: auto
) {
  display: inline-block;
  width: $width;
  height: $height;
  background-image: url("#{$image-path}/#{$image}.png");
  background-repeat: no-repeat;

  @include retina-image-png($image, $retinaWidth, $retinaHeight);
}

// Inline block with jpg background including retina display support
//
// @param $image - Image path
// @param $with - Width
// @param $height - Height
// @param $retinaWidth - Total width for retina display (optional, default: 100%)
// @param $retinaHeight - Total width for retina display (optional, default: auto)
@mixin image-jpg($image, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;

  background-image: url("#{$image-path}/#{$image}.jpg");
  background-repeat: no-repeat;

  @include retina-image-jpg($image, 100%, auto);
}

// Retina display support for png image
//
// @param $image - Image path
// @param $with - Width
// @param $height - Height
@mixin retina-image-png($image, $width, $height) {
  @include breakpoint(retina) {
    background-image: url("#{$image-path}/2x/#{$image}_2x.png");
    background-repeat: no-repeat;
    background-size: $width $height;
  }
}

// Retina display support for png image
//
// @param $image - Image path
// @param $with - Width
// @param $height - Height
@mixin retina-image-jpg($image, $width, $height) {
  @include breakpoint(retina) {
    background-image: url("#{$image-path}/2x/#{$image}_2x.jpg");
    background-repeat: no-repeat;
    background-size: $width $height;
  }
}

/*
*   Cut Corner
*/
@mixin cut-corner($background-color, $size) {
  position: relative;
  &::after {
    position: absolute;
    right: -($size / 2) - 1px;
    bottom: -($size / 2) - 1px;
    width: $size;
    height: $size;
    content: "";
    background: $background-color;
    transform: rotate(45deg);
  }
}

@mixin cut-corner-left($background-color, $size) {
  &::after {
    left: -($size / 2) - 1px;
  }
}
