// Variables
//
// This file includes custom variables and overrides for bootstrap variables
// Variables should follow the `$component-state-property-size` formula for
// consistent naming. Ex: $nav-link-disabled-color and $modal-content-box-shadow-xs.

// Paths
$image-path: "./assets/img";

// Color system

$primary: #6db133;
$primary-60: #b1d188;
$primary-40: #cde1b3;
$primary-20: #e7f1da;
$secondary: #767676;

$grey-80: #707173; //Copy
$grey-60: #9c9e9f;
$grey-20: #eceded;
$white: #fff;
$blue: #007cc3;
$orange: #f49d12;
$red: #e31c18;
$red-error: #f00; //ERROR

// Body
//
// Settings for the `<body>` element.

$body-color: $grey-80;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px,
);

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

//$grid-columns:                12;
//$grid-gutter-width:           1.5rem;
//$grid-row-columns:            6;
//$gutters: rem-calc(10);
//$grid-gutter-width: rem-calc(10);

$grid-gutter-widths: (
  xs: 20px,
  md: 20px,
);

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: arial, roboto, "Helvetica Neue", "Noto Sans",
  sans-serif;

$small-font-size: rem-calc(14);
$h1-font-size: rem-calc(28);
$h2-font-size: rem-calc(24);
$h3-font-size: rem-calc(22);
$h4-font-size: rem-calc(20);
//$h5-font-size: rem-calc(18);
//$h6-font-size: rem-calc(16);;

//$headings-margin-bottom:      $spacer / 2 !default;
$headings-font-weight: 700; //bold
//$headings-line-height:        1.2 !default;
$headings-color: $primary;

//$border-width: 1px;
$border-color: $grey-60;
$border-radius: 0;

$hr-color: $grey-20;
$hr-opacity: 1;

// Links
//
// Style anchor elements.

$link-color: $primary;
$link-decoration: none;
$link-hover-color: $grey-80; //darken($link-color, 15%);
$link-hover-decoration: underline;

// Forms

$form-label-margin-bottom: rem-calc(5);
$form-label-font-size: $small-font-size;
$form-label-color: $grey-60;

$input-placeholder-color: $grey-60;

// Buttons + Forms
//
// Shared variables that are reassigned to `$input-` and `$btn-` specific variables.

$input-btn-font-size: rem-calc(14);
