<section class="">
    <div class="container">
      <form>
        <div class="row justify-content-center">
          <div class="col col-12 col-md-8">
            <header>
              <h1 class="h3 headline color-grey text-center">
                {{'company.welcome' | translate}}
              </h1>
              <div class="subine small text-center">
                {{'company.choose_company' | translate}}
              </div>
            </header>
          </div>
  
          <div class="col col-12 col-md-8">
            <div class="row justify-content-sm-center">
              <div class="col col-12 col-sm-8">
                <div class="form-group">
                  <select name="company" class="chosen-select pointer" [(ngModel)]="company">
                    <option value="" disabled selected>{{'company.please_choose' | translate}}</option>
                    <option value="Beispiel 1">Beispiel 1</option>
                    <option value="Beispiel 2">Beispiel 2</option>
                    <option value="Beispiel 3">Beispiel 3</option>
                  </select>
                </div>
              </div>
              <div class="col col-12 col-sm-8">
                <div class="form-group">
                  <div class="row save-row align-items-center">
                    <div class="col-auto">
                      <button
                        type="submit"
                        class="btn btn-primary onwhite pointer"
                        [disabled]="!company"
                        [hidden]="readonly"
                        (click)="submit()"
                      >
                      {{'company.btn_continue' | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- <div class="row justify-content-sm-center">
              <div class="col col-12 col-sm-8">
                <div class="form-group">
                  <select
                    data-placeholder="Bitte wählen"
                    class="chosen-select"
                    disabled
                  >
                    <option value="Beispiel 1">Firma XY GmbH</option>
                    <option value="Beispiel 2">Beispiel 2</option>
                    <option value="Beispiel 3">Beispiel 3</option>
                  </select>
                </div>
              </div>
              <div class="col col-12 col-sm-8">
                <div class="form-group">
                  <div class="row save-row align-items-center">
                    <div class="col-auto">
                      <button
                        href="auto"
                        type="submit"
                        class="btn btn-primary onwhite"
                      >
                        Weiter
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
            
          </div>
        </div>
      </form>
    </div>
  </section>