<section class="box-login">
  <div class="container bg-grey-20">
    <div class="row justify-content-sm-center">
      <div class="col col-sm-8 col-md-5">
        <header>
          <h1 class="h3 headline color-grey">Login</h1>
        </header>
        <form>
          <div class="form-group">
            <input
              type="email"
              class="form-control"
              placeholder="{{'login.username' | translate}}"
              name="username"
              [(ngModel)]="username"
              (keyup.enter)="login()"
            />
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="{{'login.password' | translate}}"
              name="password"
              [(ngModel)]="password"
              (keyup.enter)="login()"
            />
          </div>
          <div class="form-group row align-items-center">
            <div class="col-auto">
              <div class="form-checkbox">
                <label class="container-checkbox">
                  {{'login.remain_signed_in' | translate}}
                  <input type="checkbox" placeholder="Checkbox 1" />
                  <span class="checkmark"></span>
                </label>
              </div>
            </div>
            <div class="col text-right">
              <a href="" class="pw">{{'login.forgot_password' | translate}}</a>
            </div>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-lg btn-primary ongrey-20" (click)="login()">
                {{'login.btn_login' | translate}}
            </button>
          </div>
          <p>
            {{'login.wisag_identity_access' | translate}} <br />
            <a href="">{{'login.activate_now' | translate}}</a>
          </p>
        </form>
      </div>
    </div>
  </div>
</section>
