<footer class="site-footer">
  <div class="row">
    <div class="container">
      <div class="row meta align-items-center">
        <div class="col-sm-12 col-md-auto">
          <span class="copyright">
            © WISAG 2020
          </span>
        </div>
        <div
          class="col-sm-12 col-md meta-navi align-items-center justify-content-md-end"
        >
          <ul
            class="nav justify-content-center justify-content-md-end align-items-center"
          >
            <li class="nav-item">
              <a
                class="nav-link"
                href="http://www.wisag.de/impressum.html"
                target="_blank"
                >{{'footer.imprint' | translate}}</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://www.wisag.de/" target="_blank"
                >wisag.de</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
