
<section class="">
  <div class="container">
    <form>
      <div
        class="row justify-content-sm-center justify-content-md-left align-items-md-baseline"
      >
        <div class="col col-sm-8 col-md-4">
          <header>
            <h1 class="h3 headline color-grey text-center text-md-left">
              {{'time.auto.time_tracking' | translate}}
            </h1>
            <div class="subine small text-center text-md-left">
              <span>{{'time.auto.today' | translate}}</span>, {{getTodayText()}}
            </div>
          </header>
        </div>

        <div class="col col-12 col-md-8">
          <div class="row justify-content-sm-center justify-content-md-start">
            <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left" for=""
                  >{{'time.auto.current_cost_centre' | translate}}:</label
                >
                <div class="input-group input-group-search" [ngClass]="{ 'active-select': isCostCenterModeSelect, 'active-search': !isCostCenterModeSelect }">
                  <div class="select-group" [ngClass]="{'pointer': !isCostCenterModeSelect}" (click)="isCostCenterModeSelect = true">
                    <select
                      class="chosen-select"
                    >
                      <option value="" disabled selected>{{'time.auto.please_choose' | translate}}</option>
                      <option value="Beispiel 1">Beispiel 1</option>
                      <option value="Beispiel 2">Beispiel 2</option>
                      <option value="Beispiel 3">Beispiel 3</option>
                      <option value="Beispiel 4">Beispiel 4</option>
                    </select>
                  </div>
                  <div class="search-group">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="{{'time.auto.search_cost_centre' | translate}}"
                    />
                    <a class="btn btn-outline-secondary" (click)="isCostCenterModeSelect = false"
                      ><span class="icon icon-search"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left" for=""
                  >Aktuelle Kostenstelle:</label
                >
                <div class="input-group input-group-search">
                  <div class="select-group">
                    <select
                      data-placeholder="Bitte wählen"
                      class="chosen-select"
                    >
                      <option value="" disabled selected>Bitte wählen</option>
                      <option value="Beispiel 1">Beispiel 1</option>
                      <option value="Beispiel 2">Beispiel 2</option>
                      <option value="Beispiel 3">Beispiel 3</option>
                      <option value="Beispiel 4">Beispiel 4</option>
                    </select>
                  </div>
                  <div class="search-group">
                    <input
                      type="search"
                      class="form-control"
                      placeholder="Kostenstelle suchen"
                    />
                    <a class="btn btn-outline-secondary"
                      ><span class="icon icon-search"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left" for=""
                  >Aktuelle Kostenstelle:</label
                >
                <div
                  disabled
                  class="input-group input-group-search active-select"
                >
                  <div class="select-group disabled">
                    <select
                      disabled
                      data-placeholder="Bitte wählen"
                      class="chosen-select"
                    >
                      <option value="Beispiel 1">Beispiel 1</option>
                      <option value="Beispiel 2">Beispiel 2</option>
                      <option value="Beispiel 3">Beispiel 3</option>
                      <option value="Beispiel 4">Beispiel 4</option>
                    </select>
                  </div>
                  <div class="search-group disabled">
                    <input
                      disabled
                      type="search"
                      class="form-control"
                      placeholder="Kostenstelle suchen"
                    />
                    <a class="disabled btn btn-outline-secondary"
                      ><span class="icon icon-search"></span
                    ></a>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left">{{'time.auto.time_type' | translate}}:</label>
                <select class="chosen-select">
                  <option value="" disabled selected>{{'time.auto.please_choose' | translate}}</option>
                  <option value="Beispiel 1">Beispiel 1</option>
                  <option value="Beispiel 2">Beispiel 2</option>
                  <option value="Beispiel 3">Beispiel 3</option>
                  <option value="Beispiel 4">Beispiel 4</option>
                </select>
              </div>
            </div>
            <!-- <div class="col col-12 col-sm-8 col-md-6">
              <div class="form-group">
                <label class="text-center text-md-left">Zeitart:</label>
                <select
                  data-placeholder="Bitte wählen"
                  class="chosen-select"
                  disabled
                >
                  <option value="Beispiel 1">Beispiel 1</option>
                  <option value="Beispiel 2">Beispiel 2</option>
                  <option value="Beispiel 3">Beispiel 3</option>
                  <option value="Beispiel 4">Beispiel 4</option>
                </select>
              </div>
            </div> -->
            <div class="col col-12 col-sm-8 col-md-12">
              <div
                class="row justify-content-sm-center justify-content-md-start align-items-md-end content-time-area"
              >
                <div class="col col-12 col-md-6 content-timer">
                  <div class="box-timer">
                    <div class="top">
                      <div class="left">{{'time.auto.start_time' | translate}}:</div>
                      <div class="right">XX:XX {{'time.auto.clock' | translate}}</div>
                    </div>
                    <div class="box">
                      <div class="flex">
                        <span class="icon icon-clock green"></span> Xh XXmin
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col col-12 col-md-6">
                  <div
                    class="form-group row justify-content-center justify-content-md-start btn-row"
                  >
                    <div class="col-auto text-center text-md-left" *ngIf="timeAutoState === 'not_started' || timeAutoState === 'paused'">
                      <button
                        type="submit"
                        class="btn btn-quad btn-start onwhite"
                      >
                      {{'time.auto.btn_start' | translate}}
                      </button>
                    </div>
                    <div class="col-auto text-center text-md-left" *ngIf="timeAutoState === 'started' || timeAutoState === 'paused'">
                      <button
                        type="submit"
                        class="btn btn-quad btn-stop onwhite "
                      >
                      {{'time.auto.btn_stop' | translate}}
                      </button>
                    </div>
                    <div class="col-auto text-center text-md-left" *ngIf="timeAutoState === 'started'">
                      <button
                        type="submit"
                        class="btn btn-quad btn-pause onwhite"
                      >
                      {{'time.auto.btn_pause' | translate}}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col col-12 col-sm-8 col-md-12 text-right">
              <div class="row">
                <div class="col col-12 text-right">
                  <hr />
                </div>
              </div>
              <div class="row justify-content-end">
                <div class="col col-12 col-md-6 text-right">
                  <a (click)="isKMStateOpen = !isKMStateOpen" [ngClass]="{'textlink-plus': !isKMStateOpen, 'textlink-minus': isKMStateOpen}" class="pointer">{{'time.auto.add_kilometers' | translate}}</a>
                </div>
              </div>

              <div class="row justify-content-end">
                <div class="col col-12 col-md-6">
                  <div class="box-km" *ngIf="isKMStateOpen">
                    <h6 class="headline color-grey text-left">{{'time.auto.route' | translate}}</h6>

                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-content">
                          <input
                            type="number"
                            class="form-control"
                            aria-label="Amount (to the nearest dollar)"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">km</span>
                          </div>
                          <div class="input-group-append with-edit">
                            <a href="#" class="link"
                              ><span class="icon icon-edit"></span
                            ></a>
                          </div>
                        </div>
                        <div class="button-content">
                          <!--  <a href="#" class=""><span class="icon icon-edelite"></span></a> -->
                        </div>
                      </div>
                    </div>
                    <!-- KM LOCKED ZUSTAND -->
                    <!-- <div class="form-group">
                      <div class="input-group">
                        <div class="input-content disabled">
                          <input
                            disabled
                            value="XXXX km"
                            type="text"
                            class="form-control"
                            aria-label="Amount (to the nearest dollar)"
                          />
                          <div class="input-group-append">
                            <span class="input-group-text">km</span>
                          </div>
                          <div class="input-group-append with-edit">
                            <a href="#" class="link"
                              ><span class="icon icon-edit"></span
                            ></a>
                          </div>
                        </div>
                        <div class="button-content">
                          <a href="#" class=""
                            ><span class="icon icon-delete"></span
                          ></a>
                        </div>
                      </div>
                    </div> -->

                    <div class="form-group">
                      <div class="row save-row align-items-center">
                        <div class="col-auto">
                          <button type="submit" class="btn btn-primary onwhite">
                            {{'time.auto.btn_save_km' | translate}}
                          </button>
                        </div>
                        <div class="col-auto">
                          <a (click)="isKMStateOpen = false" class="textlink-no-icon pointer">{{'time.auto.btn_cancel_km' | translate}}</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>

<section class="teaser bg-grey-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-sm-8 col-md-6 text-center">
        <header>
          <h3 class="h6 headline color-grey text-center">{{'time.auto.switch' | translate}}</h3>
        </header>
      </div>
    </div>
    <div class="row justify-content-center btn-row">
      <div class="col-auto text-center">
        <button type="submit" class="btn btn-plus btn-secondary ongrey-20" (click)="globalService.goTo('/time/manual')">
          {{'time.auto.btn_manual' | translate}}
        </button>
      </div>
    </div>
  </div>
</section>