<div [class.hidden]="!show" [class.active]="show">
  <div @fadeOut class="loader-overlay">
    <div *ngIf="show" class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
</div>


