
<section class="">
  <div class="container">
    <div
      class="row justify-content-sm-center justify-content-md-left align-items-md-flex-start"
    >
      <div class="col-12 col-sm-8 col-md-4">
        <header>
          <div class="subine small color-green text-center text-md-left">
            {{'time.overview.company' | translate}} XY GmBH
          </div>
          <h1 class="h3 headline color-grey text-center text-md-left">
            {{'time.overview.overview' | translate}}
          </h1>
          <div class="subine small text-center text-md-left">
            <span>{{'time.overview.today' | translate}}</span>, {{getTodayText()}}
          </div>
        </header>
      </div>

      <div class="col-12 col-sm-8">
        <div class="content-time-area">
          <div class="box-timer">
            <div class="box">
              <div class="flex color-grey">
                <span class="icon icon-clock"></span>{{'time.overview.total_duration' | translate}}: Xh XXmin
              </div>
            </div>
          </div>
        </div>

        <div class="wrapper-list">
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill">
              <strong>{{'time.overview.cost_centre' | translate}}</strong>
            </div>
            <div class="content flex-fill">
              <strong>Tower A – Wartung</strong>
            </div>
          </div>
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill"><strong>{{'time.overview.time_type' | translate}}:</strong></div>
            <div class="content flex-fill"><strong>Schulung</strong></div>
          </div>
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill">
              {{'time.overview.work_time' | translate}}:
            </div>
            <div class="content flex-fill">
              08:00 - 16:03 {{'time.overview.clock' | translate}}
            </div>
          </div>
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill">
              Km
            </div>
            <div class="content flex-fill">
              XXXX km
            </div>
          </div>
          <div class="bottom-row d-flex justify-content-between">
            <a href="#" class="link"
              ><span class="icon icon-edit green"></span>{{'time.overview.edit' | translate}}</a
            >
            <a href="#" class="link"
              ><span class="icon icon-delete green"></span
            ></a>
          </div>
          <hr />
        </div>

        <div class="wrapper-list">
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill">
              <strong>{{'time.overview.cost_centre' | translate}}</strong>
            </div>
            <div class="content flex-fill">
              <strong>Tower A – Wartung</strong>
            </div>
          </div>
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill"><strong>{{'time.overview.time_type' | translate}}:</strong></div>
            <div class="content flex-fill"><strong>Schulung</strong></div>
          </div>
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill">
              {{'time.overview.work_time' | translate}}:
            </div>
            <div class="content flex-fill">
              08:00 - 16:03 {{'time.overview.clock' | translate}}
            </div>
          </div>
          <div class="list-flex d-flex flex-row">
            <div class="content flex-fill">
              Km
            </div>
            <div class="content flex-fill">
              XXXX km
            </div>
          </div>
          <div class="bottom-row d-flex justify-content-between">
            <a href="#" class="link"
              ><span class="icon icon-edit green"></span>{{'time.overview.edit' | translate}}</a
            >
            <a href="#" class="link"
              ><span class="icon icon-delete green"></span
            ></a>
          </div>
          <hr />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="teaser bg-grey-20">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-sm-8 col-md-6 text-center">
        <header>
          <h3 class="h6 headline color-grey text-center">{{'time.overview.switch' | translate}}</h3>
        </header>
      </div>
    </div>
    <div class="row justify-content-center btn-row">
      <div class="col-auto text-center">
        <button type="submit" class="btn btn-plus btn-secondary ongrey-20" (click)="globalService.goTo('/time/auto')">
          {{'time.overview.btn_auto' | translate}}
        </button>
      </div>
      <div class="col-auto text-center">
        <button type="submit" class="btn btn-plus btn-secondary ongrey-20" (click)="globalService.goTo('/time/manual')">
          {{'time.overview.btn_manual' | translate}}
        </button>
      </div>
    </div>
  </div>
</section>
